#grid{
	overflow: auto;
	/*position: fixed;*/
	/*top: 460px;*/
	left: 2%;
	right: 2%;
	/*bottom: 0px;*/
}
.grid-book{
	border-radius: 20px;
	width: 96%;
	overflow: hidden;
	margin: 0% 2% 2% 2%;
	cursor: pointer;
	background: #718EA4;
	box-shadow: inset 4px -6px 6px rgba(0,0,0,0.5), /*bottom internal shadow*/
	inset 4px 6px 6px rgba(255,255,255,0.5); /*top internal highlight*/

}
.book-image{
	float: left;
	margin: 1% 1% 1% 1%;
	width: 7%;
	height: 98%;
}
.book-image img {
	border: 4px outset #123652;
	width: 100%;
}
.book-maininfo{
	float: left;
	margin: 1% 1% 1% 1%;
	width: 42%;
}
.book-title {
	font-weight: bold;
	font-size: x-large;
}
.book-subtitle {
	font-style: italic;
	font-size: large;
}
.book-series-info {
	font-style: italic;
	font-size: large;
}
.book-authors {
	font-size: large;
	font-weight: bold;
}
.author-box {
	border: 3px outset #123652;
	padding: 2px;
	margin-bottom: .5%;
	font-size: small;
	font-weight: normal;
	margin-left: 2%;
	min-height: 35px;
	max-height: 35px;
	overflow-y: auto;
}
.author-box li {
	list-style-type: none;
}
.book-dewey-info {
	font-size: medium;
	float: right;
	margin-right: 3%;
}
.book-otherinfo{
	font-size: small;
	float: left;
	margin: 1% 1% 1% 1%;
	width: 42%;
	height: 98%;
}